@media all{header#masthead { width: 240px; position: fixed; left: 0px; top: 0px; bottom: 0px; background-image: url("img/bg_black_90.png"); }}

@media all{article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }}

@media all{* { margin: 0px; padding: 0px; }}

@media all{div.site-branding { margin-top: 120px; }}

@media all{html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0px; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline; }}


@media all{h1, h2, h3, h4, h5, h6 { clear: both; }}@media all{* { margin: 0px; padding: 0px; }}


@media all{html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0px; font-family: inherit; font-size: 100%;


  font-style: inherit; font-weight: inherit; margin: 0px; padding-left:10px;padding:10px; list-style-type: none;}


  body {

    margin-right: 20px;
  margin-left:20px;
  background-color: #FCFCDC;
  }

  .nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}


.logo {

text-align: center;
}

  .nav li {
display: inline-block;
text-align: center;
}

.nav ul {
text-align: center;
}/* Below line is used for online Google font */


@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
h2{
text-align: center;
font-size: 24px;
}
hr{
margin-bottom: 30px;
}
div.container{
width: 960px;
height: 610px;
margin:50px auto;
font-family: 'Droid Serif', serif;
position:relative;
}
div.main{
width: 620px;
float:left;
padding: 20px 55px 40px;
background-color: #white;
border: 15px solid white;
box-shadow: 0 0 10px;
border-radius: 2px;
font-size: 13px;
}
input[type=text],[type=password] {
width: 97.7%;
height: 34px;
padding-left: 5px;
margin-bottom: 20px;
margin-top: 8px;
box-shadow: 0 0 5px #white;
border: 2px solid #white;
color: #4f4f4f;
font-size: 16px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
#register {
font-size: 20px;
margin-top: 15px;
background: linear-gradient(#22abe9 5%, #36caf0 100%);
border: 1px solid #0F799E;
padding: 7px 35px;
color: white;
text-shadow: 0px 1px 0px #13506D;
font-weight: bold;
border-radius: 2px;
cursor: pointer;
width: 100%;
}
#register:hover{
background: linear-gradient(#36caf0 5%, #22abe9 100%);
}


.show-on-mobile {
display: none;
margin: 0 auto;
text-align: center;
}

.show-on-tablet {
display: none;
margin: 0 auto;
text-align: center;
}

@media (max-width: 959px) {
.container {
  width: 600px;
  height: 200px;
  background-color: purple;
}

.box {
  padding: 2px;
  font-size: 30px;
  font-family: helvetica;
  font-weight: bold;
  color: white;
}

.show-on-desktop {
  display: none;
}

.show-on-tablet {
  display: block;
}
}

@media (max-width: 600px) {
.show-on-mobile {
  display: block;
}

.show-on-tablet {
  display: none;
}

.container {
  width: 460px;
  height: 120px;
  background-color: black;
}

.box {
  font-family: courier;
  font-size: 20px;

}

}
