
header {

padding-left: 170px;
padding-right: 200px;

}


}

body {
  background-color: #FAF3DE;
  }

}

nav {
  font-style: italic;
  font-size: 80px;
  padding-left: 50px;
  background-color: #FAF3DE;
}


}

.logo {

  font-style: 8px;
}

ul {

  margin-top: 80px;
  font-size: 50px;




}

.hamburger{
padding-left: -120px;



}

@media screen and (max-width:1080px) and (min-width: 980px){

body {font-size: 18px}

  nav{

		font-size: 18px;
	}
}
@media screen and (max-width:980px) and (min-width: 768px){
	nav{
		font-size: 12px;
	}
}
@media screen and (max-width: 768px){
	body{
		font-size: 16px;

	}
	nav{
		width:100%;
	}


menu {
  float:

}

.carousel-indicators {
  padding-right: 100em;
  float: 

}




.item {
  padding-left: 50px;
