

.h1{

  font-size: 32px;
}


.logo {

text-align: center;
background-color: #FFFCE8;

}

.nav li {
display: inline-block;
text-align: center;
background-color:#red;
margin-left: 321px;
font-size: 24px;
background-color: #FFFCE8;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #FFFCE8;
}

.textbox {
  font-size: 32px;
  margin-left: 82px;
  margin-right:82px;
  background-color: #FFFCE8;
}
.nav li{
    display:inline;
    background-color: #FFFCE8;
}
.nav a{
    display:inline-block;
    padding:0px;
    background-color: #FFFCE8;
}


body {
margin-right: 20px;
margin-left:20px;
background-color: #FFFCE8;
}

.container{
  height: 643px;
  width: 1705px;
  margin:5px auto;
  background-color: #FFFCE8;

}

#img {

  height: 650px;
  width: 850px;
  position: absolute;
}

#left_holder{
  height:450px;
  width:100px;
  position: absolute;
  left:0px;
  top:0px;

}

#right_holder{
  height:450px;
  width:100px;
  position: absolute;
  left:0px;
  top:0px;
  margin-left:609px;
}

.left {
  height:50px;
  width:50px;
  position: absolute;
  top:100%;
  left:0px;

}

.right {
  height:50px;
  width:50px;
  position: absolute;
  top:100%;
  left:0px;
  background-color: #FFFCE8;

}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

/* helper css, since we don't have images */
.slide1 {background-image: ;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}


.menu-main-menu-container{
  	width: 100%;
  	float: right;
  	margin: 0 0 3em 0;
  	padding: 0;
  	list-style-type: none;
  background-color: #FFFCE8;}
  /*li {
  	float: left;
  padding-left: 10px}*/

html, body {
  background-color: #fffce8;
}


@media all and (max-width: 1000px) and (min-width: 800px) {
  .cb-slideshow li span {
    /* css here*/
  }
}

@media all{header#masthead { width: 240px; position: fixed; left: 0px; top: 0px; bottom: 0px; background-image: url("img/bg_black_90.png"); }}

@media all{article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }}

@media all{* { margin: 0px; padding: 0px; }}

@media all{div.site-branding { margin-top: 120px; }}

@media all{html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0px; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline; }}


@media all{h1, h2, h3, h4, h5, h6 { clear: both; }}@media all{* { margin: 0px; padding: 0px; }}


@media all{html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0px; font-family: inherit; font-size: 100%;


  font-style: inherit; font-weight: inherit; margin: 0px; padding-left:10px;padding:10px; list-style-type: none;}

  .show-on-mobile {
  display: none;
  margin: 0 auto;
  text-align: center;
}

.show-on-tablet {
  display: none;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 959px) {
  .container {
    width: 600px;
    height: 200px;
    background-color: purple;
  }

  .box {
    padding: 2px;
    font-size: 30px;
    font-family: helvetica;
    font-weight: bold;
    color: white;
  }

  .show-on-desktop {
    display: none;
  }

  .show-on-tablet {
    display: block;
  }
}

@media (max-width: 600px) {
  .show-on-mobile {
    display: block;
  }

  .show-on-tablet {
    display: none;
  }

  .container {
    width: 460px;
    height: 120px;
    background-color: black;
  }

  .box {
    font-family: courier;
    font-size: 20px;

  }

}
